* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 1.75em;
	text-align: center;
	color: black;
}

section div {
	font-size: 1.25em;
	float: right;
	/*position: relative;
	right: 0;
	top: 0;*/
	padding: 5px 10px;
	width: 120px;
	text-align: center;
}

section, div {
	border: 1px solid black;
	clear: left;
}

.chicken {
	background-color: #eb673a;
}

.beef {
	background-color: #fc4e4e;
	color: white;
}

.sushi {
	background-color: #dee30f;
}

section {
	clear: right;
	position: relative;
	float: left;
	margin: 10px 10px;
	background-color: #aaaaaa;
}

@media (min-width: 992px) {
	col-lg-4 {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	col-md-6 {
		width: 50%;
	}
}

@media (max-width: 767px) {
	col-sm-12 {
		width: 100%;
	}
}

